.header {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  top: 20px;
  z-index: 100;
  padding: 0 30px;
  border-radius: 16px;  
  margin-bottom: 3rem;  
}